body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

svg {
    display: block;
    width: 850px;
    height: 500px;
}
